.app-all {
  box-shadow: 0 0.5px 0.5px 0px;
  margin: 40px 150px;
  max-width: 750px;
  min-width: 700px;
  padding: 20px 16px 24px 16px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
