.forecast-day {
  margin: 0 auto;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 0px;
  width: -7.5%;
  border: none;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
