.weather-main-heading {
  line-height: 3px;
  text-align: left;
}
.weather-main-icon {
  float: right;
  height: 144px;
  width: 64px;
  clear: both;
  position: relative;
  left: -318px;
  top: -108px;
}
.weather-main-temp {
  float: left;
    position: relative;
    bottom: -1px;
}
.weather-main-weather-list {
  list-style-type: none;
  float: left;
  line-height: 22px;
  padding-right: 120px;
}
.weather-main-description {
  text-transform: capitalize;
}

.weather-main-search {
  margin: 0 auto;
}

.weather-main-forecast {
  margin: 0 auto;
}
