.weather-main-heading {
  line-height: 1.2px;
  text-align: left;
  position: relative;
  left: 125px;
}
.weather-main-icon {
  float: left;
  height: 64px;
  width: 64px;
  position: relative;
  left: 125px;
}
.weather-main-temp {
  padding-left: 10px;
  float: left;
  position: relative;
  left: 125px;
}
.weather-main-weather-list {
  list-style-type: none;
  float: right;
  line-height: 22px;
  position: relative;
  left: -125px;
}
